@keyframes appearFromLeft {

  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.details {
  animation: appearFromLeft 2s;
  border-radius: 20px;
  margin: auto;
  max-width: 500px;
  min-height: 480px;
  padding: 20px 10px;
}

.details img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 480px;
}

.text-details {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 300px;
  padding-top: 20px;
  margin-top: -25px;
  width: 479px;
}

.text-details p {
  padding-left: 10px;
}

.details a {
  background-color: #0d66d0;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  margin-left: 12%;
  padding: 8px 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  top: 30px;
}

.details a:hover {
  background-color: #0454a0;
}
